body {
  background-image: url('/img/criss-cross.png');
}

.container {
  height: 200px;
  position: relative;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.button {
  display: inline-block;
  padding: 0.3em 1.2em;
  margin: 0 0.1em 0.1em 0;
  border: 0.16em solid rgba(255, 255, 255, 0);
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-size: 18px;
  font-weight: 300;
  color: #4f4f4f;
  text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
  text-align: center;
  transition: all 0.2s;
}

.button:hover {
  border-color: rgba(255, 255, 255, 1);
}

@media all and (max-width: 30em) {
  a.button {
    display: block;
    margin: 0.2em auto;
  }
}

#minus {
  background-color: #f14e4e;
}

#plus {
  background-color: #84f14e;
}
